html{
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    color: #282828;
}

*, *::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 150%;
}

a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    cursor: pointer;
    border: none;
    background: transparent;
    color: inherit;
}

.container{
    max-width: 1130px;
    padding: 0 10px;
    margin: 0 auto;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}

/* HEADER */

.header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    color: #fff;
}

.header__inner{
    padding-top: 10px;
}

.header__top{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header__top-text{
    font-weight: 500;
    font-size: 13px;
}

.header__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
}

.header__list-item + .header__list-item{
    border-left: 1px solid #FFFFFF;
}

.header__list-item{
    font-size: 14px;
    text-align: center;
    padding: 13px 0;
}

/* FIRST SCREEN */

.firstScreen{
    height: 100vh;
    width: 100%;
    background: url(../images/bgc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.firstScreen__linkBox{
    max-width: 415px;
    margin: 0 auto;
    padding-top: 76vh;
    display: flex;
    justify-content: space-between;
}

.firstScreen__linkBox-link{
    padding: 15px 30px;
    background: #998431;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
}


/* ABOUT WINE */

.aboutWine{
    background: #282828;
    padding: 100px 0;
    color: #fff;
}

.aboutWine__inner{
    border: 3px solid #C4C4C4;
    padding: 60px 0;
}

.aboutWine-title{
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}

.aboutWine-hr{
    max-width: 160px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.aboutWine-text{
    max-width: 733px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.aboutWine-img{
    display: block;
    margin: 0 auto;
}

/* COLECTION */

.colection{
    padding: 80px 0;
}

.colection__inner{
    border-top: 1px solid #998431;
    border-bottom: 1px solid #998431;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
}

.colection__textBox-name{
    color: #000000;
    margin-bottom: 30px;
}

.colection__textBox-title{
    font-family: 'Playfair Display';
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: bold;
}

.colection__textBox-hr{
    max-width: 160px;
    color: #282828;
    margin-bottom: 30px;
}

.colection__textBox-text{
    font-size: 14px;
    max-width: 445px;
    margin-bottom: 30px;
}

.colection__textBox-table{
    margin-bottom: 30px;
    display: flex;
}

.colection__textBox-link{
    padding: 15px 30px;
    background: #998431;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
}

.colection__table-date + .colection__table-date{
    padding-top: 27px;
    border-top: 1px solid #282828;
}

.colection__table-date{
    padding: 27px 24px;
}

.colection__table-desc + .colection__table-desc{
    border-top: 1px solid #282828;
    padding-top: 10px;
}

.colection__table-desc{
    padding: 10px 30px 15px;
    border-left: 1px solid #282828;
}

.colection__table-desc-title{
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.colection__table-desc-text{
    font-size: 14px;
}

.colection__imgBox-img,
.colection__imgSmallBox-img{
    display: block;
}

.colection__imgBox-img{
    margin-bottom: 30px;
}

.colection__imgSmallBox{
    display: flex;
    justify-content: space-between;
}

/* FORM */



/* FOOTER */

.footer{
    background: #998431;
    padding: 50px;
    color: #fff;
}

.footer__topList{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-top: 1px solid #fff;
}

.footer__list{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.footer__list-item + .footer__list-item{
    border-left: 1px solid #fff;
}

.footer__list-item{
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.footer__list-item>span,
.footer__list-link{
    margin-top: 3px;
    display: block;
}

.footer__social{
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
}

.footer__social-img{
    display: block;
}
